* {
	position: relative;
}

.resumeTitle {
	padding: 2%;
}

/* section title */
.resumeTitle h3:after {
    position: absolute;
    width: 8%;
    height: 2px;
    content: "";
    background-color: black;
	bottom: 0;
	left: 0;
}

@media screen and (max-width: 600px) {
	.resumeTitle {
		text-align: center;
	}

	.resumeTitle h3:after {
		width: 10%;
		bottom: 0;
		left: 45%;
	}
}

.column {
	width: 100%;
	padding: 5%;
	overflow: auto;
}

.timeline {
	width: 80%;
	margin: auto;
}

.listItem {
	font-size: 1em;
	list-style-type: disc;
	margin-left: 5%;
	width: 100%;
}

.s-about__timeline-section::before {
    content: "";
    width: 1px;
    height: 100%;
    background-color: rgb(52, 1, 36);
    position: absolute;
}


.timelineTimeframe {
    text-transform : uppercase;
    letter-spacing : .15em;
	margin: 0;
	padding: 0px 0px 1.5%;
}

@media screen and (min-width: 600px) {
	.timelineTimeframe {
		font-size: 1rem;
	}
}

.w3-leftbar {
	margin-left: -5%;
}

.resumeTitle {
	padding-left: 5%;
}

.timelineTitle {
	font-family: "Castoro", serif;
	font-weight: 550;
}

h2.timelineTitle {
	font-size: 2.2em;
}

h3.timelineTitle {
	font-size: 1.8em;
}

.leftCertCell {
	width: 70%;
	margin-left: 15%;
}

.smallImg {
	max-width:98%;
	float: left;
	margin-right:1rem;
	border-radius: 15px 0px 0px 15px;
}

.imgBg {
	max-width: 100px;
}

.roundedBorder {
	border: 1px solid black;
	border-radius: 15px;
}


.half {
	width: 50%;
}

.floatLeft {
	float:left;
}

.floatRight {
	float: right;
}

@media screen and (max-width: 600px) {
	/* if in mobile view, make the dual columns appear as 1 long column */
	.half {
		width: 100%;
	}

	.resumeTitle h2 {
		padding: 3%;
	}

	.resumeSection {
		margin-left: 5%;
	}

	.column {
		padding: 10%;
	}
}

.timelineBullet {
	display: block;
    height: 3.5rem;
    width: 6px;
    background-color: black;
	border-radius: 25px;
    position: absolute;
    top: 8%;
    left: -0.4%;
}

.card {
	flex-direction: row;
}

.card img {
	width: 20%;
}

.cardPadding {
	padding: 0 5%;
	margin-bottom: 3%;
}


/* animate tags */
.tag {
	transition: margin 0.2s ease-in-out;
}

.tag:hover {
	margin-top: -1%;
	cursor: pointer;
	background-color: #EDE8EC;
}

/* modal for displaying certs */
button.close {
    width: 30px;
    font-size: 20px;
    color: #9f684c;
    align-self: flex-end;
    background-color: transparent;
    border: none;
    margin-bottom: 10px;
}

.modalButton {
	float: right;
}

.modal-image {
	width: 100%;
}

.pinkWrapper .card {
	border: 1px solid #E4BDAA;
}

.card-img {
	height: 100%;
}

.card .timelineTitle,
.card .timelineSub {
	padding: 0;
	margin: 0;
}

.download {
	background-color: #EDD7CC;
}

/* adjust font size for cards in mobile */
@media screen and (max-width: 600px) {
	.card {
		font-size: 1em;
	}

	.download .half {
		width: 65%;
	}
}